<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:p="http://www.springframework.org/schema/p" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	 	  
    <bean id="bookstoreModuleConfiguration" class="org.kuali.rice.krad.bo.ModuleConfiguration">
        <property name="initializeDataDictionary" value="true"/>
        <property name="dataDictionaryPackages">
          <list>
            <value>classpath:trnapp/bookstore/Author.xml</value>
            <value>classpath:trnapp/bookstore/Book.xml</value>
            <value>classpath:trnapp/bookstore/Chapter.xml</value>
            <value>classpath:trnapp/bookstore/AuthorMaintenanceDocument.xml</value>
            <value>classpath:trnapp/bookstore/BookMaintenanceDocument.xml</value>
            <value>classpath:trnapp/bookstore/BookOrderDocument.xml</value>
            <value>classpath:trnapp/bookstore/BookOrderEntry.xml</value>
          </list>
        </property>
    
        <property name="namespaceCode" value="bookstore"/>
        <property name="databaseRepositoryFilePaths">
          <list>
            <value>trnapp/bookstore/OJB-repository-bookstore.xml</value>
          </list>
        </property>
        <property name="packagePrefixes">
          <list>
            <value>trnapp.bookstore</value>
          </list>
        </property>
    </bean>

    <bean id="bookstoreModuleService" class="org.kuali.rice.krad.service.impl.ModuleServiceBase">
        <property name="moduleConfiguration" ref="bookstoreModuleConfiguration" />
    </bean>
    
</beans>